/glassfish4/
glassfish4/glassfish/domains/domain1/generated/policy/PRJ301-Assignment/PRJ301-Assignment/granted.policy
glassfish4/glassfish/domains/domain1/logs/server.log
glassfish4/glassfish/domains/domain1/generated/policy/PRJ301-Assignment/PRJ301-Assignment/granted.policy
glassfish4/glassfish/domains/domain1/config/pid
glassfish4/glassfish/domains/domain1/config/local-password
