
.left {
    float: left;
    width: 10%;
    text-align: center;
    color: yellow;
    margin-top: 150px;
    margin-left: 50px;
    font-size: 30px;
    font-family: sans-serif;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #282828;
    cursor: pointer;
    animation-name: move,reSize,bgColor;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
}

@keyframes move{
    from{left:0px;}
    to{left:500px;}
}

@keyframes reSize{
    from{width:100px; height:580px;}
    to{width:100px; height:580px;}
}

@keyframes bgColor{
    from{background-color: #282828;}
    to{background-color: grey;}
}

.right {
    float: right;
    width: 80%;
}

.right .img {
    width: 100%;
}



